<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>May 6 20, 20:29</string>
      <string>glyphs.M_ay 6 20, 20_29</string>
    </array>
    <array>
      <string>May 6 20, 20:29.background</string>
      <string>glyphs.M_ay 6 20, 20_29.background</string>
    </array>
    <array>
      <string>May 6 20, 21:08</string>
      <string>glyphs.M_ay 6 20, 21_08</string>
    </array>
    <array>
      <string>May 6 20, 21:08.background</string>
      <string>glyphs.M_ay 6 20, 21_08.background</string>
    </array>
    <array>
      <string>May 6 20, 21:11</string>
      <string>glyphs.M_ay 6 20, 21_11</string>
    </array>
    <array>
      <string>May 6 20, 21:11.background</string>
      <string>glyphs.M_ay 6 20, 21_11.background</string>
    </array>
    <array>
      <string>May 6 20, 21:25</string>
      <string>glyphs.M_ay 6 20, 21_25</string>
    </array>
    <array>
      <string>May 6 20, 21:25.background</string>
      <string>glyphs.M_ay 6 20, 21_25.background</string>
    </array>
    <array>
      <string>May 7 20, 15:27</string>
      <string>glyphs.M_ay 7 20, 15_27</string>
    </array>
    <array>
      <string>May 7 20, 15:27.background</string>
      <string>glyphs.M_ay 7 20, 15_27.background</string>
    </array>
    <array>
      <string>May 7 20, 15:53</string>
      <string>glyphs.M_ay 7 20, 15_53</string>
    </array>
    <array>
      <string>May 7 20, 15:53.background</string>
      <string>glyphs.M_ay 7 20, 15_53.background</string>
    </array>
    <array>
      <string>May 7 20, 15:56</string>
      <string>glyphs.M_ay 7 20, 15_56</string>
    </array>
    <array>
      <string>ConnectionWeight</string>
      <string>glyphs.C_onnectionW_eight</string>
    </array>
    <array>
      <string>Depth</string>
      <string>glyphs.D_epth</string>
    </array>
    <array>
      <string>ConnectionPoint</string>
      <string>glyphs.C_onnectionP_oint</string>
    </array>
    <array>
      <string>[140].background</string>
      <string>glyphs._140_.background</string>
    </array>
  </array>
</plist>
