<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>May 8 20, 11:34</string>
      <string>glyphs.M_ay 8 20, 11_34</string>
    </array>
    <array>
      <string>May 8 20, 11:36</string>
      <string>glyphs.M_ay 8 20, 11_36</string>
    </array>
    <array>
      <string>May 8 20, 11:56</string>
      <string>glyphs.M_ay 8 20, 11_56</string>
    </array>
    <array>
      <string>May 8 20, 11:57</string>
      <string>glyphs.M_ay 8 20, 11_57</string>
    </array>
    <array>
      <string>May 8 20, 12:03</string>
      <string>glyphs.M_ay 8 20, 12_03</string>
    </array>
    <array>
      <string>May 6 20, 21:08</string>
      <string>glyphs.M_ay 6 20, 21_08</string>
    </array>
    <array>
      <string>May 6 20, 21:14</string>
      <string>glyphs.M_ay 6 20, 21_14</string>
    </array>
    <array>
      <string>May 6 20, 21:15</string>
      <string>glyphs.M_ay 6 20, 21_15</string>
    </array>
    <array>
      <string>May 6 20, 21:21</string>
      <string>glyphs.M_ay 6 20, 21_21</string>
    </array>
    <array>
      <string>May 8 20, 12:04</string>
      <string>glyphs.M_ay 8 20, 12_04</string>
    </array>
    <array>
      <string>May 7 20, 15:27</string>
      <string>glyphs.M_ay 7 20, 15_27</string>
    </array>
    <array>
      <string>May 7 20, 15:36</string>
      <string>glyphs.M_ay 7 20, 15_36</string>
    </array>
    <array>
      <string>May 7 20, 15:36.background</string>
      <string>glyphs.M_ay 7 20, 15_36.background</string>
    </array>
    <array>
      <string>May 7 20, 15:47</string>
      <string>glyphs.M_ay 7 20, 15_47</string>
    </array>
    <array>
      <string>May 7 20, 15:47.background</string>
      <string>glyphs.M_ay 7 20, 15_47.background</string>
    </array>
    <array>
      <string>May 7 20, 15:53</string>
      <string>glyphs.M_ay 7 20, 15_53</string>
    </array>
    <array>
      <string>May 7 20, 15:53.background</string>
      <string>glyphs.M_ay 7 20, 15_53.background</string>
    </array>
    <array>
      <string>May 9 20, 10:13</string>
      <string>glyphs.M_ay 9 20, 10_13</string>
    </array>
    <array>
      <string>ConnectionWeight</string>
      <string>glyphs.C_onnectionW_eight</string>
    </array>
    <array>
      <string>Depth</string>
      <string>glyphs.D_epth</string>
    </array>
    <array>
      <string>ConnectionPoint</string>
      <string>glyphs.C_onnectionP_oint</string>
    </array>
    <array>
      <string>[140].background</string>
      <string>glyphs._140_.background</string>
    </array>
  </array>
</plist>
