<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A-cy</key>
    <string>A_-cy.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Abreve-cy</key>
    <string>A_breve-cy.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Adieresis-cy</key>
    <string>A_dieresis-cy.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Aie-cy</key>
    <string>A_ie-cy.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>Be-cy</key>
    <string>B_e-cy.glif</string>
    <key>Che-cy</key>
    <string>C_he-cy.glif</string>
    <key>Chedescender-cy</key>
    <string>C_hedescender-cy.glif</string>
    <key>Chedieresis-cy</key>
    <string>C_hedieresis-cy.glif</string>
    <key>Chekhakassian-cy</key>
    <string>C_hekhakassian-cy.glif</string>
    <key>Cheverticalstroke-cy</key>
    <string>C_heverticalstroke-cy.glif</string>
    <key>De-cy</key>
    <string>D_e-cy.glif</string>
    <key>De-cy.loclBGR</key>
    <string>D_e-cy.loclB_G_R_.glif</string>
    <key>Dje-cy</key>
    <string>D_je-cy.glif</string>
    <key>Dze-cy</key>
    <string>D_ze-cy.glif</string>
    <key>Dzhe-cy</key>
    <string>D_zhe-cy.glif</string>
    <key>E-cy</key>
    <string>E_-cy.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Ef-cy</key>
    <string>E_f-cy.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Em-cy</key>
    <string>E_m-cy.glif</string>
    <key>En-cy</key>
    <string>E_n-cy.glif</string>
    <key>Endescender-cy</key>
    <string>E_ndescender-cy.glif</string>
    <key>Enghe-cy</key>
    <string>E_nghe-cy.glif</string>
    <key>Er-cy</key>
    <string>E_r-cy.glif</string>
    <key>Ereversed-cy</key>
    <string>E_reversed-cy.glif</string>
    <key>Es-cy</key>
    <string>E_s-cy.glif</string>
    <key>Esdescender-cy</key>
    <string>E_sdescender-cy.glif</string>
    <key>Fita-cy</key>
    <string>F_ita-cy.glif</string>
    <key>Ge-cy</key>
    <string>G_e-cy.glif</string>
    <key>Gedescender-cy</key>
    <string>G_edescender-cy.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>Ghemiddlehook-cy</key>
    <string>G_hemiddlehook-cy.glif</string>
    <key>Ghestroke-cy</key>
    <string>G_hestroke-cy.glif</string>
    <key>Gheupturn-cy</key>
    <string>G_heupturn-cy.glif</string>
    <key>Gje-cy</key>
    <string>G_je-cy.glif</string>
    <key>Ha-cy</key>
    <string>H_a-cy.glif</string>
    <key>Hadescender-cy</key>
    <string>H_adescender-cy.glif</string>
    <key>Hardsign-cy</key>
    <string>H_ardsign-cy.glif</string>
    <key>I-cy</key>
    <string>I_-cy.glif</string>
    <key>Ia-cy</key>
    <string>I_a-cy.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Idieresis-cy</key>
    <string>I_dieresis-cy.glif</string>
    <key>Ie-cy</key>
    <string>I_e-cy.glif</string>
    <key>Iebreve-cy</key>
    <string>I_ebreve-cy.glif</string>
    <key>Iegrave-cy</key>
    <string>I_egrave-cy.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Ii-cy</key>
    <string>I_i-cy.glif</string>
    <key>Iigrave-cy</key>
    <string>I_igrave-cy.glif</string>
    <key>Iishort-cy</key>
    <string>I_ishort-cy.glif</string>
    <key>Imacron-cy</key>
    <string>I_macron-cy.glif</string>
    <key>Io-cy</key>
    <string>I_o-cy.glif</string>
    <key>Iu-cy</key>
    <string>I_u-cy.glif</string>
    <key>Izhitsa-cy</key>
    <string>I_zhitsa-cy.glif</string>
    <key>Je-cy</key>
    <string>J_e-cy.glif</string>
    <key>Ka-cy</key>
    <string>K_a-cy.glif</string>
    <key>Kabashkir-cy</key>
    <string>K_abashkir-cy.glif</string>
    <key>Kadescender-cy</key>
    <string>K_adescender-cy.glif</string>
    <key>Kaverticalstroke-cy</key>
    <string>K_averticalstroke-cy.glif</string>
    <key>Kje-cy</key>
    <string>K_je-cy.glif</string>
    <key>Lje-cy</key>
    <string>L_je-cy.glif</string>
    <key>Nje-cy</key>
    <string>N_je-cy.glif</string>
    <key>O-cy</key>
    <string>O_-cy.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Obarred-cy</key>
    <string>O_barred-cy.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>Odieresis-cy</key>
    <string>O_dieresis-cy.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Palochka-cy</key>
    <string>P_alochka-cy.glif</string>
    <key>Pe-cy</key>
    <string>P_e-cy.glif</string>
    <key>Phi</key>
    <string>P_hi.glif</string>
    <key>Psi</key>
    <string>P_si.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Qa-cy</key>
    <string>Q_a-cy.glif</string>
    <key>Schwa-cy</key>
    <string>S_chwa-cy.glif</string>
    <key>Sha-cy</key>
    <string>S_ha-cy.glif</string>
    <key>Shcha-cy</key>
    <string>S_hcha-cy.glif</string>
    <key>Shha-cy</key>
    <string>S_hha-cy.glif</string>
    <key>Sigma</key>
    <string>S_igma.glif</string>
    <key>Softsign-cy</key>
    <string>S_oftsign-cy.glif</string>
    <key>Tbar</key>
    <string>T_bar.glif</string>
    <key>Te-cy</key>
    <string>T_e-cy.glif</string>
    <key>Tse-cy</key>
    <string>T_se-cy.glif</string>
    <key>Tshe-cy</key>
    <string>T_she-cy.glif</string>
    <key>U-cy</key>
    <string>U_-cy.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Udieresis-cy</key>
    <string>U_dieresis-cy.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Uhungarumlaut-cy</key>
    <string>U_hungarumlaut-cy.glif</string>
    <key>Umacron-cy</key>
    <string>U_macron-cy.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>Ushort-cy</key>
    <string>U_short-cy.glif</string>
    <key>Ustraight-cy</key>
    <string>U_straight-cy.glif</string>
    <key>Ustraightstroke-cy</key>
    <string>U_straightstroke-cy.glif</string>
    <key>Ve-cy</key>
    <string>V_e-cy.glif</string>
    <key>We-cy</key>
    <string>W_e-cy.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Yat-cy</key>
    <string>Y_at-cy.glif</string>
    <key>Yeru-cy</key>
    <string>Y_eru-cy.glif</string>
    <key>Yerudieresis-cy</key>
    <string>Y_erudieresis-cy.glif</string>
    <key>Yi-cy</key>
    <string>Y_i-cy.glif</string>
    <key>Yusbig-cy</key>
    <string>Y_usbig-cy.glif</string>
    <key>Ze-cy</key>
    <string>Z_e-cy.glif</string>
    <key>Zedescender-cy</key>
    <string>Z_edescender-cy.glif</string>
    <key>Zedieresis-cy</key>
    <string>Z_edieresis-cy.glif</string>
    <key>Zhe-cy</key>
    <string>Z_he-cy.glif</string>
    <key>Zhebreve-cy</key>
    <string>Z_hebreve-cy.glif</string>
    <key>Zhedescender-cy</key>
    <string>Z_hedescender-cy.glif</string>
    <key>Zhedieresis-cy</key>
    <string>Z_hedieresis-cy.glif</string>
    <key>_part.C</key>
    <string>_part.C_.glif</string>
    <key>_part.R</key>
    <string>_part.R_.glif</string>
    <key>_part.T_M</key>
    <string>_part.T__M_.glif</string>
    <key>_part.cy-desc-uc</key>
    <string>_part.cy-desc-uc.glif</string>
    <key>_part.cy-desc-uc-reversed</key>
    <string>_part.cy-desc-uc-reversed.glif</string>
    <key>_part.cy-desc-uc-reversed-stem</key>
    <string>_part.cy-desc-uc-reversed-stem.glif</string>
    <key>_part.cy-desc-uc-stem</key>
    <string>_part.cy-desc-uc-stem.glif</string>
    <key>_part.cy-descender-lc-center</key>
    <string>_part.cy-descender-lc-center.glif</string>
    <key>_part.cy-descender-uc-center</key>
    <string>_part.cy-descender-uc-center.glif</string>
    <key>_part.heng</key>
    <string>_part.heng.glif</string>
    <key>_part.registered</key>
    <string>_part.registered.glif</string>
    <key>_part.ring</key>
    <string>_part.ring.glif</string>
    <key>a-cy</key>
    <string>a-cy.glif</string>
    <key>abreve-cy</key>
    <string>abreve-cy.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>acutecomb.case</key>
    <string>acutecomb.case.glif</string>
    <key>adieresis-cy</key>
    <string>adieresis-cy.glif</string>
    <key>agrave.ss01</key>
    <string>agrave.ss01.glif</string>
    <key>aie-cy</key>
    <string>aie-cy.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>aring.ss01</key>
    <string>aring.ss01.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>be-cy</key>
    <string>be-cy.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>brevecomb</key>
    <string>brevecomb.glif</string>
    <key>brevecomb-cy</key>
    <string>brevecomb-cy.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>caroncomb</key>
    <string>caroncomb.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>che-cy</key>
    <string>che-cy.glif</string>
    <key>chedescender-cy</key>
    <string>chedescender-cy.glif</string>
    <key>chedieresis-cy</key>
    <string>chedieresis-cy.glif</string>
    <key>chekhakassian-cy</key>
    <string>chekhakassian-cy.glif</string>
    <key>cheverticalstroke-cy</key>
    <string>cheverticalstroke-cy.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>circumflexcomb.case</key>
    <string>circumflexcomb.case.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>commaturnedabovecomb</key>
    <string>commaturnedabovecomb.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>de-cy</key>
    <string>de-cy.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>dieresiscomb.case</key>
    <string>dieresiscomb.case.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>divisionslash</key>
    <string>divisionslash.glif</string>
    <key>dje-cy</key>
    <string>dje-cy.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dong</key>
    <string>dong.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>downArrow</key>
    <string>downA_rrow.glif</string>
    <key>dze-cy</key>
    <string>dze-cy.glif</string>
    <key>dzhe-cy</key>
    <string>dzhe-cy.glif</string>
    <key>e-cy</key>
    <string>e-cy.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>ef-cy</key>
    <string>ef-cy.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.tnum</key>
    <string>eight.tnum.glif</string>
    <key>el-cy</key>
    <string>el-cy.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>em-cy</key>
    <string>em-cy.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>en-cy</key>
    <string>en-cy.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>endescender-cy</key>
    <string>endescender-cy.glif</string>
    <key>enghe-cy</key>
    <string>enghe-cy.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>er-cy</key>
    <string>er-cy.glif</string>
    <key>ereversed-cy</key>
    <string>ereversed-cy.glif</string>
    <key>es-cy</key>
    <string>es-cy.glif</string>
    <key>esdescender-cy</key>
    <string>esdescender-cy.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>fita-cy</key>
    <string>fita-cy.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.tnum</key>
    <string>five.tnum.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.tnum</key>
    <string>four.tnum.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>ge-cy</key>
    <string>ge-cy.glif</string>
    <key>gedescender-cy</key>
    <string>gedescender-cy.glif</string>
    <key>ghemiddlehook-cy</key>
    <string>ghemiddlehook-cy.glif</string>
    <key>ghestroke-cy</key>
    <string>ghestroke-cy.glif</string>
    <key>gheupturn-cy</key>
    <string>gheupturn-cy.glif</string>
    <key>gje-cy</key>
    <string>gje-cy.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>gravecomb.case</key>
    <string>gravecomb.case.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>guillemetleft</key>
    <string>guillemetleft.glif</string>
    <key>guillemetright</key>
    <string>guillemetright.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>ha-cy</key>
    <string>ha-cy.glif</string>
    <key>hadescender-cy</key>
    <string>hadescender-cy.glif</string>
    <key>hardsign-cy</key>
    <string>hardsign-cy.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>hookabovecomb</key>
    <string>hookabovecomb.glif</string>
    <key>horncomb</key>
    <string>horncomb.glif</string>
    <key>horncomb.alt_case</key>
    <string>horncomb.alt_case.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>hungarumlautcomb</key>
    <string>hungarumlautcomb.glif</string>
    <key>i-cy</key>
    <string>i-cy.glif</string>
    <key>ia-cy</key>
    <string>ia-cy.glif</string>
    <key>idieresis-cy</key>
    <string>idieresis-cy.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>ie-cy</key>
    <string>ie-cy.glif</string>
    <key>iebreve-cy</key>
    <string>iebreve-cy.glif</string>
    <key>iegrave-cy</key>
    <string>iegrave-cy.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>ii-cy</key>
    <string>ii-cy.glif</string>
    <key>iigrave-cy</key>
    <string>iigrave-cy.glif</string>
    <key>iishort-cy</key>
    <string>iishort-cy.glif</string>
    <key>imacron-cy</key>
    <string>imacron-cy.glif</string>
    <key>io-cy</key>
    <string>io-cy.glif</string>
    <key>iu-cy</key>
    <string>iu-cy.glif</string>
    <key>izhitsa-cy</key>
    <string>izhitsa-cy.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>je-cy</key>
    <string>je-cy.glif</string>
    <key>ka-cy</key>
    <string>ka-cy.glif</string>
    <key>kabashkir-cy</key>
    <string>kabashkir-cy.glif</string>
    <key>kadescender-cy</key>
    <string>kadescender-cy.glif</string>
    <key>kaverticalstroke-cy</key>
    <string>kaverticalstroke-cy.glif</string>
    <key>kje-cy</key>
    <string>kje-cy.glif</string>
    <key>leftArrow</key>
    <string>leftA_rrow.glif</string>
    <key>leftanglebracket-math</key>
    <string>leftanglebracket-math.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>lje-cy</key>
    <string>lje-cy.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>lowernumeral-greek</key>
    <string>lowernumeral-greek.glif</string>
    <key>lozenge</key>
    <string>lozenge.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>macroncomb</key>
    <string>macroncomb.glif</string>
    <key>macroncomb.wide</key>
    <string>macroncomb.wide.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.ss02</key>
    <string>nine.ss02.glif</string>
    <key>nine.tnum</key>
    <string>nine.tnum.glif</string>
    <key>nje-cy</key>
    <string>nje-cy.glif</string>
    <key>northEastArrow</key>
    <string>northE_astA_rrow.glif</string>
    <key>northWestArrow</key>
    <string>northW_estA_rrow.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>o-cy</key>
    <string>o-cy.glif</string>
    <key>obarred-cy</key>
    <string>obarred-cy.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>odieresis-cy</key>
    <string>odieresis-cy.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>omega</key>
    <string>omega.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.tnum</key>
    <string>one.tnum.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>oogonek</key>
    <string>oogonek.glif</string>
    <key>palochka-cy</key>
    <string>palochka-cy.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>pe-cy</key>
    <string>pe-cy.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>phi</key>
    <string>phi.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>qa-cy</key>
    <string>qa-cy.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>rightArrow</key>
    <string>rightA_rrow.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>ringcomb</key>
    <string>ringcomb.glif</string>
    <key>ringcomb.case</key>
    <string>ringcomb.case.glif</string>
    <key>schwa-cy</key>
    <string>schwa-cy.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.tnum</key>
    <string>seven.tnum.glif</string>
    <key>sha-cy</key>
    <string>sha-cy.glif</string>
    <key>shcha-cy</key>
    <string>shcha-cy.glif</string>
    <key>shcha-cy.loclBGR</key>
    <string>shcha-cy.loclB_G_R_.glif</string>
    <key>shha-cy</key>
    <string>shha-cy.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.ss02</key>
    <string>six.ss02.glif</string>
    <key>six.tnum</key>
    <string>six.tnum.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>softsign-cy</key>
    <string>softsign-cy.glif</string>
    <key>southEastArrow</key>
    <string>southE_astA_rrow.glif</string>
    <key>southWestArrow</key>
    <string>southW_estA_rrow.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>tenge</key>
    <string>tenge.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.tnum</key>
    <string>three.tnum.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>tse-cy</key>
    <string>tse-cy.glif</string>
    <key>tse-cy.loclBGR</key>
    <string>tse-cy.loclB_G_R_.glif</string>
    <key>tshe-cy</key>
    <string>tshe-cy.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.tnum</key>
    <string>two.tnum.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>u-cy</key>
    <string>u-cy.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>udieresis-cy</key>
    <string>udieresis-cy.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>uhungarumlaut-cy</key>
    <string>uhungarumlaut-cy.glif</string>
    <key>umacron-cy</key>
    <string>umacron-cy.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>upArrow</key>
    <string>upA_rrow.glif</string>
    <key>ushort-cy</key>
    <string>ushort-cy.glif</string>
    <key>ustraight-cy</key>
    <string>ustraight-cy.glif</string>
    <key>ustraightstroke-cy</key>
    <string>ustraightstroke-cy.glif</string>
    <key>ve-cy</key>
    <string>ve-cy.glif</string>
    <key>we-cy</key>
    <string>we-cy.glif</string>
    <key>won</key>
    <string>won.glif</string>
    <key>xi</key>
    <string>xi.glif</string>
    <key>yat-cy</key>
    <string>yat-cy.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>yeru-cy</key>
    <string>yeru-cy.glif</string>
    <key>yerudieresis-cy</key>
    <string>yerudieresis-cy.glif</string>
    <key>yi-cy</key>
    <string>yi-cy.glif</string>
    <key>yusbig-cy</key>
    <string>yusbig-cy.glif</string>
    <key>ze-cy</key>
    <string>ze-cy.glif</string>
    <key>zedescender-cy</key>
    <string>zedescender-cy.glif</string>
    <key>zedieresis-cy</key>
    <string>zedieresis-cy.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.tnum</key>
    <string>zero.tnum.glif</string>
    <key>zhe-cy</key>
    <string>zhe-cy.glif</string>
    <key>zhebreve-cy</key>
    <string>zhebreve-cy.glif</string>
    <key>zhedescender-cy</key>
    <string>zhedescender-cy.glif</string>
    <key>zhedieresis-cy</key>
    <string>zhedieresis-cy.glif</string>
  </dict>
</plist>
