<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>ConnectionWeight</string>
      <string>glyphs.C_onnectionW_eight</string>
    </array>
    <array>
      <string>Depth</string>
      <string>glyphs.D_epth</string>
    </array>
    <array>
      <string>ConnectionPoint</string>
      <string>glyphs.C_onnectionP_oint</string>
    </array>
    <array>
      <string>[140].background</string>
      <string>glyphs._140_.background</string>
    </array>
  </array>
</plist>
